*{
    margin: 8px 8px 8px 8px;
    width: 1288px;
}
#table1, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    
    
}

#table2, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}

#table3, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#table4 ,tr, td{
    border: 1px solid black;
}
